.loading-spinner-container {
  width: 100%;
  height: 100%;
  margin-left: 500px;
  margin-top: 300px;
  color: black;
  font-size: 30px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 80px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gallery-items {
  background-color: #4f2424;
  padding-left: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: auto; 
  gap: 10px; 
  min-height: 200px; 
  padding-top: 120px;
  /* width:fit-content */
}

.gallery-item {
  cursor: move;
  transition: transform 0.3s ease-in-out; 
}

.gallery-item:active {
  cursor: grabbing;
}

.search-bar {
  position: absolute;
  left: 0px; 
  top: 10px;
  width: 450px; 
  height: 10%; 
  border-radius: 50px;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-left: 50%;  
}

.search-bar input {
  height: 30px;
  background-color: rgb(100, 44, 44);
  border: 6px solid rgb(126, 84, 84);
  border-radius: 50px;
}

.search-bar input::placeholder {
  color: white; 
  font-size: 20px;
  text-align: center;
}
img {
  width: 200px; 
  height: 200px; 
  border: 1px solid #ccc;
  border-radius: 50%; 
}

.email{
  font-size: 25px;
  margin-right: 25px;
}
.password{
  font-size: 25px;
  margin-right: 10px;
}

.tags {
  margin-top: 5px;
}

.tag {
  background-color: #f2f2f2;
  padding: 3px 6px;
  margin-left: 25px;
  border-radius: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #4f2424;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.pagination button.active {
  background-color: #fff;
  color: #4f2424;
  font-weight: bold;
}


.signin-container {
  display: flex;
  min-height: 120vh;
  background-color: #505a7d;
  }

.signin-box {
  flex: 2;
  background-color: #4b5166; 
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-right: 20px;
  flex-direction: column; 
  color: white;
  }

input {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #505a7d;
  border-radius: 20px;
  flex: 1;
  }

button {
  width: 20%;
  padding: 10px;
  background-color: #424a64; 
  color: #fff; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  margin-top: 40px;
}

button:hover {
  background-color: #a15872; 
}

.error-message {
  color: #f00; 
  margin-top: 10px;
}

@media (max-width: 400px) {
  .signin-box {
    width: 80%;
  }
}
.signin-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #505a7d; 
  border-radius: 180px;
}

.signin-image img {
  border-radius: 50px;
  width: 40%; 
  height: 300px; 
  object-fit: cover;
  border-radius: 170px;
  margin-bottom: 90px;
}

.signin-form {
  flex: 2;
  background-color: #505a7d;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  border-radius: 200px;
}

.avatar {
  flex: 1; 
  justify-content: center;
  align-items:flex-end;
  background-color: #505a7d;
  margin-bottom: 130px;
  padding-right: 100px;
}

.avatar img {
  width: 70%;
  height: 300px; 
  border-radius: 50%; 
  margin-left: 4%;
}
.welcome-message p {
  margin-bottom: 100px;
  margin-left: 15px;
  font-size: 20px;
  margin-top: 10px;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  transition: color 0.3s ease-in-out;
  word-spacing: 4px;
  letter-spacing: 2px;
}
.welcome-message p:hover {
  color: rgb(65, 44, 44);
}
.welcome-message h1 {
  color: rgb(140, 130, 130);
  margin-left: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  font-style:oblique
}
.welcome-message h1:hover {
  color: rgb(82, 136, 100);
}

@media (max-width: 1080px) {
  .signin-form h2 {
    font-size: 14px;
  }
  .signin-image img {
    width: 50%;
  }
  .gallery-items {
    grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto; 
  gap: 10px; 
  }
}
@media (max-width: 980px) {
  .signin-form h2 {
    font-size: 14px;
  }
  .signin-image img {
    width: 40%;
    height: 70%;
    margin-right: 30%;
  }
  .gallery-items {
    grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto; 
  gap: 10px; 
  }
  .search-bar {
    padding-left: 30%;
  }
}
@media (max-width: 900px) {
  .signin-image img {
    width: 50%;
    height: 60%;
    margin-left: 25%;
  }
  .signin-form button {
    font-size: 10px;
  }
  .signin-form h2 {
    font-size: xx-small;
  }
  .email {
    font-size: 12px;
  }
 .password {
    font-size: 12px;
  }
  .signin-form {
    width: 80%;
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 20%;
  }
  .signin-form h2 {
    margin-top: 50%;
  }
  .avatar img {
    margin-left: 10%;
    width: 90%;
  }
  .signin-image img {
    margin-right: 50%;
  }
}
  @media (max-width: 780px) {
    .signin-form h2 {
      font-size: 12px;
    }
    .gallery-items {
      grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto; 
    gap: 10px; 
    }
    .search-bar {
      padding-left: 20%;
    }
    .signin-image img {
      width: 30%;
      height: 60%;
      margin-right: 35%;
    }
    .welcome-message h1 {
      font-size: 16px;
    }
    .welcome-message p {
      margin-left: 10%;
      font-size: 16px;
    }
  }
  @media (max-width: 660px) {
    .signin-form {
      font-size: 12px;
      margin-bottom: 70%;
    }
    .signin-form h2{
      font-size: 12px;
      margin-top: 30%;
    }
    .signin-image img {
      width: 40%;
      height: 70%;
      margin-right: 50%;
    }
    .welcome-message h1 {
      font-size: 14px;
      margin-left: 20%;
    }
    .welcome-message p {
      margin-left: 20%;
      font-size: 14px;
      margin-top: 30%;
    }
    .avatar img {
      width: 100%;
      height: 80%;
    }
  }
  @media (max-width: 595px) {
    .signin-container {
      justify-content: space-evenly;    
    }
    .signin-box {
      font-size: 12px;
      width: 45%;
      flex: 1;
      padding-right: 10%;
    }
    .avatar{
      flex: 1;
      width: 45%;
    }
    .welcome-message p {
      padding-left: 10%;
    }
    .welcome-message h1 {
      padding-left: 20%;
    }
    .signin-image img {
      width: 80%;
      height: 60%;
      margin-left: 40%;
      margin-top: 60%;
    }
    .signin-form h2{
      font-size: 8px;
      padding-bottom: 10%;
    }
    .signin-form button {
      font-size: 10px;
      width: 80%;
      padding: 15px;
      background-color: #424a64; 
      color: #fff; 
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  @media (max-width: 500px) {
    .search-bar {
      padding: 3%;
    }
    .gallery-items {
      grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: auto; 
    gap: 10px; 
    }
  }